.container {
    overflow: auto;

    height: 85vh;
    margin-bottom: 4vh;

    color: white;
}

.link {
    text-decoration: none;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    padding: 3px;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.link_list {
    line-height: 30px;
}