.navbar {
    display: flex;
    align-items: left;
    justify-content: left;

    font-size: 18px;
    border-bottom: 2px solid black;
}

.navlink {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.navlink:hover {
    background-color: #eeeeee;
}