.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;

    font-size: 18px;

    border-bottom: 2px solid black;
}